---
import Dot from "./Dot.astro";
import { Icon } from "astro-icon/components";
import config from "@util/themeConfig";
import { getLocalizedThemeConfig } from "@util/localizedThemeConfig";
import { getLangFromUrl } from "@util/i18n";

const lang = getLangFromUrl(new URL(Astro.request.url));
const localizedConfig = getLocalizedThemeConfig(lang);

const getHref = () => {
  const link = localizedConfig.header.banner?.link;
  if (link) {
    return link;
  }

  return "#";
};

const href = getHref();
---

{
  localizedConfig.header.banner.show ?
<div class="flex items-center justify-center gap-x-6 bg-primary-600 px-6 py-2.5">
  <p class="text-sm leading-6 text-white">
    <a href={href} target="_blank" class="inline-flex items-center gap-1">
      <strong class="font-semibold hidden sm:block">
        { localizedConfig.header.banner.brandText }
      </strong>
      {localizedConfig.header.banner.brandText ? <Dot class="hidden sm:block" /> : <></>}
      { localizedConfig.header.banner?.text }
      <Icon class="hidden sm:block w-5 h-5" name="tabler:arrow-right" />
    </a>
  </p>
</div> : <></>
}