---
import type Tag from "../../../types/Tag";
import { getLocalizedThemeConfig } from "@util/localizedThemeConfig";
import { getLangFromUrl } from "@util/i18n";

const { tag } = Astro.props;
const lang = getLangFromUrl(new URL(Astro.request.url));
const localizedConfig = getLocalizedThemeConfig(lang);
const config = localizedConfig.directoryData.tags;

const configTag = config?.find((element: any) => element.key === tag);

const tagClass = configTag?.color ? `${configTag.color}-tag` : "gray-tag";
---

<span class:list={["tag", tagClass]}>
  {configTag?.name || tag}
</span>
